.header-maindiv{
    background-color: white;
    width: 100%;
    position: relative;
    
}
.nav-header{
    
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 28px;
    padding-left: 52px;
    padding-right: 52px;
}
.list-item{
    list-style-type: none;
    display: flex;
    
}
.nav-link{
    text-decoration: none;
    color: black;
    padding-left: 30px;
    font-size: 20px;
    padding-right: 30px;
   
}
.double-colon{
    color: #9297a0;   
}
.Subscribe-div{
    width: 76%;
    height: 528px;
    background-image: url(./images/Rectangle\ 1.png);
    position: relative;
    border-radius: 0px 0px 40px 0px;
    padding-top: 67px;

}
.subcribe-img{
    position: absolute;
}
.Subscribe-maindiv{
    display: flex;
    justify-content: space-between;
    margin-left: 133px;
    margin-right: 197px;
}
.Subscribe-colon{
    color: #9297a0;
     font-size: 100px;
    padding-top: 50px;
}
.subcrib-tag{
    width: 420px;
    font-size: 50px;
    color: #3e5376;
    margin-top: 11px;
}
.Subscribe-btn {
    background-color: #3e5376;
    width: 270px;
    height: 50px;
    color: #fcfafa;
    border-radius: 0px 0px 30px 0px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 12px;
}
/* Crafting-maindiv */
.Crafting-maindiv{
    width: 100%;
    height: 700px;
    margin-top: 60px;
}
.Crafting-div{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.Crafting-tag{
    width: 302px;
    font-size: 30px;
    color: rgb(21, 21, 25);
}
.Crafting-ptag{
    width: 589px;
    font-size: 17px;
}
.crift-list-item{
    list-style-type: none;
    padding-left: 0px;
    color: #3e5376;
    font-weight: 600;
}
.First-card-crft{

}
.crafting-card1{
    width: 160px;
    height: 160px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crafting-card2{
    width: 160px;
    height: 160px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crafting-card3{
    width: 160px;
    height: 160px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.second-card-crft{
    margin-top: 71px;
    padding-left: 50px;
}
.crafting-card4{
    width: 160px;
    height: 160px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crafting-card5{
    width: 160px;
    height: 160px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crafting-card6{
    width: 160px;
    height: 160px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.third-card-crft{
    margin-top: 30px;
    padding-left: 50px;
}
.crafting-card7{
    width: 160px;
    margin-bottom: 50px;
    height: 160px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crafting-card8{
    width: 160px;
    margin-bottom: 25px;
    height: 160px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crafting-card9{
    width: 160px;
    height: 160px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.crifting-img{
    padding: 21px;
    width: 100px;
    padding-left: 30px;
}
.crifting-img2{
    padding: 21px;
    width: 68px;
    padding-left: 42px;
}
.crifting-img6{
    padding: 48px;
    padding-left: 20px;
    width: 123px;
}
.crifting-img4{
    padding: 28px;
    width: 122px;
    margin-top: 23px;
    padding-left: 20px;

}
.crifting-img9{
    padding: 32px;
    width: 76px;
    align-items: center;
    padding-left: 46px;
}
.crafting-maincard{
    display: flex;
    justify-content: space-between;

}
.text-ahead{
    font-size: 20px;
     font-weight: 100; 
}
/* <previous> */
.previous-maindiv{
    width: 100%;
    height: 1000px;
    background-image: url(./images/Layer\ 55.png);
}
.Visionary{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 67px;
}
.visionery-htag{
    color: white;
    padding-left: 20px;
    font-size: 33px;
}
.visionery-text{
    width: 500px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 29px;
}
.visionery-btn {
    background-color: #3e5376;
    width: 200px;
    height: 50px;
    color: #fcfafa;
    border-radius: 0px 0px 30px 0px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 22px;
}
.visionery-img {
    margin-top: 20px;
    padding-left: 16px;
}
.visionery-img1 {
    position: absolute;
    padding-left: 50px;
  padding-top: 71px;
}
.previous-carddiv{
    display: flex;
    justify-content: space-between;
    margin-right: 160px;
    margin-left: 160px;
}
.previous-htag{
    text-align: center;
    color: white;
    padding-top: 70px;
    font-size: 32px;
    font-weight: 600px;
    padding-bottom: 20px;
}
.previous-card{
    width: 250px;
    height: 100px;
    background-color: white;
}
.previous-text{
    color: white;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 10px;
}
.previous-text1{
    width: 269px;
    font-size: 17px;
    padding-left: 12px;
    color: white;
}
.previous-img{
    width: 250px;
    height: 100px;
}
.previous-left{
    color: #f2f4f8;
    font-weight: 600; 
    font-size: 60px; 
    padding-top: 96px;
}
.previous-right{
    color: #f2f4f8;
    font-weight: 600; 
    font-size: 60px; 
    padding-top: 96px;
}
/* <In The News> */
.news-maindiv{
    width: 100%;
    height: 600px;
    /* background-image: url(./images/Rectangle\ 10.png); */
}
.news-carddiv{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.news-card{
    width: 300px;
    height: 200px;
    background-color: #eee7e7;
}
.news-img{
    width: 294px;
    height: 200px;
}
.news-text{
    font-size: 25px;
    width: 250px;
    text-align: center;
    margin-top: 0px;
    padding-left: 5px;
}
.news-text1{
    width: 221px;
    text-align: center;
    margin-left: 19px;
}
.news-btn{
    background-color: #3e5376;
    width: 276px;
    height: 50px;
    color: #fcfafa;
    border-radius: 0px 0px 30px 0px;
    font-size: 20px;
    margin-top: 160px;
    margin-left: 39%;
}
/* <Gallery> */
.gallery-tag{
    text-align: center;
    font-size: 37px;
    color: #3e5376;
}
/* .gallery-img{
    width: 300px;
} */
.contanier{
    margin-left: 50px;
}
/* <work history> */
.workmain-div{
    width: 100%;
    height: 700px;
   background-image: url(./images/Rectangle\ 12.png);
}
.work-cardmain-div{
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 50px;
}
.work-card{
    width: 233px;
    height: 250px;
    background-color: white;
    border-radius: 42px 0px 42px;

}
.work-card1{
    width: 233px;
    height: 250px;
  background-image: url(./images/Layer\ 65.png);
    border-radius: 42px 0px 42px;
    color: #818181;

}
.icon-circul{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid orange;
    margin: auto;
    margin-top: 15px;
}
.work-text1{
    color: #818181;
    font-size: 37px;
    text-align: center;
    padding-top: 42px;
   
}
.work-text{
    font-size: 17px;
    width: 208px;
    text-align: center;
    padding-left: 11px;
}
.work-text2{
    font-size: 18px;
    width: 101px;
    padding-left: 65px;
    
}
.next-left{
    color: #f2f4f8;
    font-weight: 600;
    font-size: 60px;
    padding-top: 96px;
   
}
.next-right{
    color: #f2f4f8;
    font-weight: 600;
    font-size: 60px;
    padding-top: 96px;
}
.work-text-card{
    font-size: 17px;
    width: 208px;
    text-align: center;
    margin-top: 50px;
    padding-left: 11px;
}
/* <artical-section> */
.Artical-card{
    width: 211px;
    height: 273px;
    background-color: white;
    border-radius: 27px 0px 0px 0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Artical-card1{
    width: 284px;
    height: 273px;
    background-color: white;
    border-radius: 27px 0px 0px 0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.Artical-card2{
    width: 284px;
    height: 273px;
    background-color: white;
    border-radius: 27px 0px 0px 0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Artical-card3{
    width: 284px;
    height: 273px;
    background-color: white;
    border-radius: 27px 0px 0px 0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Artical-card4{
    width: 211px;
    height: 273px;
    background-color: white;
    border-radius: 27px 0px 0px 0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Artical-carddiv{
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
}
.Artical-text{
    width: 200px;
    font-size: 14px;

}
.artical-headtext{
    color: #818181; 
    text-align: center; 
    margin-top: 60px; 
    font-size: 37px;
}
.Artical-text1{
    width: 269px;
    font-size: 15px;
    padding-left: 12px;

}.Artical-texth5{
    width: 206px;
    padding-left: 27px;

}

.Artical-text2{
    width: 269px;
    font-size: 15px;
    padding-left: 12px;

}
.Artical-text3{
    width: 269px;
    font-size: 15px;
    padding-left: 12px;

}
.Artical-text4{
    width: 218px;
    font-size: 14px;
    padding-left: 5px;
}
/* <Recommendation> */
.Recommendations-div{
    width: 100%;
    height: 520px;
    background-color: white;
   
}
.Recommendations-tag{
    text-align: center;
    margin-top: 200px;
    font-size: 38px;
    font-weight: 200;

}
.user-div{

    border-radius: 50px;
    background-color: #828790;
    width: 90px;
    height: 90px;
    border: 1px solid orange;
    margin: auto;
}
.icon{
    font-size: 71px;
    padding-top: 23px;
}
.Recommendations-text{
    width: 54%;
    padding: 29px;
    margin: auto;
    font-size: 23px;
    text-align: center;

}
.Recommendations-text1{
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}
.Recommendations-text2{
    text-align: center;
 
}
.circul-div{
    width: 100px;
    height: 100px;
    background-color: #828790;
    border-radius: 50px;
    border: 1px solid orange;
    margin: auto;
}
.bullet{
    display: flex;
    justify-content: center;
   
}
.circul-icon{
    margin: auto;
    background-color: orange;
    padding-left: 10px;
}
/* <footer section> */
.footer{
    width: 100%;
    height: auto;
    background-color: #000000;
}
.footer-maindiv{
    display: flex;
    justify-content: space-between;
    padding: 71px;
}
.footer-icon{
    width: 50px;
    height: 50px;
    background-color: black;
    border: 1px solid white;
    color: white;
   
}
.icon-div{
    display: flex;
    justify-content: space-around;
    width: 120px;
    font-size: 30px;
}
.footer-text{
    width: 297px;
    color: #828790;

}
.footer-link{
    text-decoration: none;
    color: #828790;
     font-size: 16px;
    
   
}
.footer-icondiv{
    padding-left: 0px ;
}
.footer-btn{
    width: 136px;
    height: 44px;
    background-color: #828790;
    color: rgb(247, 242, 242);
    margin-top: 20px;
}
.input-btn{
    width: 251px;
    height: 44px;
    background-color: black;
    box-shadow: 5px 10px 18px #88888888;
    border: 1px thin white;
    color: #828790;
    border: 1px solid gray;
}
.copyright-div{
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: #000000;
    border: 1px solid white;
    color: #828790;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
}
@media only screen and (max-width: 768px) {
    body {
        padding: 0px;
        width: 100%;
      }
      .header-maindiv {
        width: auto;
        max-width: 100%;
        height: auto;
        background-color: white;
      }
      .nav-header {
        width: auto;
      }
      .header {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        flex-direction: column;
      }
      .list-item {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 20px;
      }
      .list-item,
      li {
        padding-bottom: 10px;
      }
      .nav-link {
        text-decoration: none;
        color: #554c4c;
        font-size: 20px;
        font-weight: 600;
      }
    .Subscribe-div {
        width: 100%;
        height: 700px;
        position: relative;
        padding-top: 0px;
        
    }
    .subcribe-img {
        position: absolute;
        width: 290px;
        margin-left: 11px;
    }
    .Subscribe-colon {
         padding-top: 15px;
        padding-left: 83px;
    }
    .Subscribe-maindiv {
        margin-left: 0px;
        flex-direction: column;
    }
    .subcrib-tag {
        width: 297px;
        font-size: 42px;
        padding-left: 11px;
    }
    .Subscribe-btn {
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    
    .Crafting-maindiv {
         height: auto; 
         margin-top: 30px;
    }
    .Crafting-div {
        flex-direction: column;
    margin-bottom: 20px;
    margin-left: 0px;
}
.crafting-maincard {
    flex-direction: column;
    margin-left: 20px;
}
.First-card-crft {
    margin-left: 47px;
}
.crafting-card1 {
    margin-bottom: 30px;
}
.crafting-card4 {
  margin-bottom: 30px;   
}
.second-card-crft {
    margin-top: 30px;
}
.crafting-card6 {
    margin-top: 30px;
    
}
.crafting-card7 {
    margin-bottom: 30px;
    
}
.text-ahead{
    text-align: center;
    padding-left: 74px;
}
.Crafting-tag {
    padding-left: 7px;
}
.Crafting-ptag {
    width: 309px;
    text-align: left;
    padding-left: 7px;
}
.crift-list-item {
    width: 500px;
    padding-left: 7px;
}
.Subscribe-btn {
    margin-top: 4px;
    margin-left: 15px;
}
 .Visionary {
        display: flex;
        flex-direction: column;
        padding-left: -1px;
        margin-left: 0px;
        padding-top: 0px;
    }
    .visionery-text {
        width: 285px;
        padding-left: 13px;
        
    }
    .visionery-htag {
        padding-left: 15px;
        font-size: 29px;
        width: 297px;
    }
    .visionery-btn {
        margin-top: 20px;
        margin-left: 43px;
    }
    .visionery-img {
        margin-top: 20px;
        width: 271px;
        padding-left: 16px;
    }
    .visionery-img1 {
        position: absolute;
        padding-left: 50px;
        width: 115px;
      padding-top: 71px;
    }
    .previous-maindiv {
     height: auto;
    }
    .previous-htag {
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .previous-carddiv {
        margin-left: 26px;
        flex-direction: column;
    }
    .previous-card {
        margin-bottom: 190px;
    }
    .previous-left{
        padding-top: 0px;
        text-align-last: center;
        padding-left: 104px;
        padding-bottom: 20px;
    }
    .previous-right{
        padding-top: 0px;
        text-align-last: center;
        padding-left: 105px;
        padding-bottom: 20px;
    }
    .news-img {
        margin-top: 15px;    
   }
    .news-text1 {
        margin-left: 32px;

    }
    .news-text {
        padding-left: 25px;
        padding-top: 15px;
    }
    .news-maindiv {
        height: auto;
    }
    .news-btn {
        margin-left: 38px;
    margin-top: 0px;
    width: 250px;
    }
    .news-card {
        padding-right: 52px;
        margin-bottom: 177px;
}
.news-carddiv {
       flex-direction:column;
    align-items: center;
    padding-left: 52px;
    }
    .contanier {
        margin-left: 18px;
        margin-right: 26px; 
    }
    .gallery-img{
        width: 278px;
    }
    .gallery-img1{
        width: 278px;
    }
    .workmain-div {
          height: auto;
       
    }
    .work-text1 {
         padding-top: 20px;
    }
    .work-card {

        margin-bottom: 25px;
    }
    .work-card1 {
        margin-bottom: 25px;
    }
    .work-cardmain-div {
    
        margin-left: 36px;
        flex-direction: column;
    }
.next-left{
    padding-bottom: 20px;
    text-align-last: center;
    padding-left: 68px;
    padding-top: 0px; 
}
.next-right{
    padding-top: 20px;
    text-align-last: center;
    padding-left: 68px; 
}
.Artical-carddiv {
    flex-direction: column;
    margin-left: 16px;
    margin-top: 0;
   
}
.Artical-card {
  margin-bottom: 25px;
    margin-left: 35px;
   
}
.artical-headtext {
   
    margin-top: 3px;
}
.Artical-card1 {
      margin-bottom: 25px;
    
}
.Artical-card2 {
    margin-bottom: 25px;
}
.Artical-card3 {
    margin-bottom: 25px;
}
.Artical-card4 {
 margin-left: 35px;

}
    .Recommendations-div {
        /* width: 100%; */
        height: auto;
        /* background-color: white; */
    }
    .Recommendations-tag {
        text-align: center;
        margin-top: 216px;
        font-size: 30px;
        
    }
    .bullet {
        margin-bottom: 20px;
    }
.Recommendations-text {
    width: 309px;
    padding: 8px;
    margin: auto;
    font-size: 23px;
    text-align: left;
    padding-right: 44px;
    margin-right: 51px;
    padding-top: 18px;
}
    .footer-maindiv {
        /* display: flex; */
        padding: 25px;
        flex-direction: column;
    }
  
    }
    